DB_USER=your_username
DB_PASS=your_password
MONGODB_URI=mongodb://your_username:your_password@localhost:27017/book-api?authSource=admin
PORT=3000
JWT_SECRET=el_teu_super_secret_jwt_que_ningu_no_ha_de_saber
JWT_EXPIRATION_TIME=3600s
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback