services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb
    restart: unless-stopped
    command:
      - "mongod"
      - "--bind_ip_all"
    volumes:
        - ./build/mongodb/data:/data/db
    environment:
        MONGODB_INITDB_ROOT_USERNAME: ${DB_USER}
        MONGODB_INITDB_ROOT_PASSWORD: ${DB_PASS}
    ports:
        - "27017:27017"
    networks:
        - db
        - web

networks:
  db:
    internal: true
  web: {}